

html {
  font-size: 100%;
  font-family: "Lato", sans-serif;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

@-ms-viewport {
  width: device-width;
}
a {
  color: white;
  font-weight: 400;
  text-decoration: none;
}
a:hover {
  color: #bbaad2;
}
h1{
  margin:0px;
}
/* Animation */
@-webkit-keyframes scale {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
  50% {
    -webkit-transform: scale3d(1.25, 1.25, 1);
            transform: scale3d(1.25, 1.25, 1);
  }
  70% {
    -webkit-transform: scale3d(1.35, 1.35, 1);
            transform: scale3d(1.35, 1.35, 1);
  }
  100% {
    -webkit-transform: scale3d(1.5, 1.5, 1);
            transform: scale3d(1.5, 1.5, 1);
  }
}
@keyframes scale {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
  50% {
    -webkit-transform: scale3d(1.25, 1.25, 1);
            transform: scale3d(1.25, 1.25, 1);
  }
  70% {
    -webkit-transform: scale3d(1.35, 1.35, 1);
            transform: scale3d(1.35, 1.35, 1);
  }
  100% {
    -webkit-transform: scale3d(1.5, 1.5, 1);
            transform: scale3d(1.5, 1.5, 1);
  }
}
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
body {
  text-align: center;

  color: white;
  background-color: rgba(0, 26, 31, 0.7);
  line-height: 1.45;
}

.pad, .hero__content__heading, .hero__content__blurb {
  padding-right: .75rem;
  padding-left: .75rem;
}

.bg-hero {
  position:absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  background: url("/images/run2.jpeg") no-repeat center center;
  background-size: cover;
  z-index: -999;
  -webkit-animation: scale reverse 1s linear;
          animation: scale reverse 1s linear;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
}

.bg-hero:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #0B080F;
  opacity: 0.7;
  z-index: -888;
}

.fade-in {
  opacity: 0;
  -webkit-animation: fadeIn ease-in 1.25s;
          animation: fadeIn ease-in 1.25s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

/* Hero Module styles */
.fade-in.logo {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.fade-in.hero__content__heading {
  -webkit-animation-delay: 1.25s;
          animation-delay: 1.25s;
}

.fade-in.hero__content__blurb {
  -webkit-animation-delay: 1.75s;
          animation-delay: 1.75s;
}

.fade-in.social-icons {
  -webkit-animation-delay: 2.5s;
          animation-delay: 2.5s;
}

.fade-in.copy {
  -webkit-animation-delay: 3.5s;
          animation-delay: 3.5s;
}

.hero {
  width: 100%;
  display: table;
  height: 100vh;
  color: white;
  text-align: center;
}

.hero__content {
  display: table-cell;
  vertical-align: middle;
  height: calc(100% - 32em);
  margin: 1.5rem auto;
}

.hero__content__heading {
  font-weight: 400;
  font-size: 4.25em;
  text-transform: uppercase;
  margin-top: 1.5rem;
  letter-spacing: .3em;
}

.hero__content__blurb {
  font-size: 3.2em;
}

/* Styles */
.logo {
  width: 100%;
  margin: 0 auto;
  padding-top: 1.5rem;
  font-size: 1.75rem;
}

.social-icons {
  margin: 1.5rem;
  display: block;
}
.social-icons a {
  display: inline-block;
  margin: 1em 1.75rem;
}

.copy {
  display: block;
  margin: 1.5rem;
  padding-top: 1.5rem;
  clear: both;
  font-size: .8em;
  text-align: center;
  letter-spacing: .1em;
}
















/*Aboutus page*/

#action , 
#page-breadcrumb{
  position: relative;
}

#page-breadcrumb {
  background-image: url(../images/home/tour-bg.png);
  background-color: #fbfafa;
  background-repeat: repeat-x;
  height: 130px;
  background-position: center;
  display: table;
  position: static;
  width: 100%;
}

#team {
  padding: 85px 0;
}

#team-carousel {
  margin-top: 80px;
}

#company-information .padding-top{
  padding-top: 172px;
  
}



.tour-button {
  background-image: url(../images/home/tour-icon2.png);
  height: 100%;
  background-repeat: no-repeat;
  position: absolute;
  width: 100%;
  left: 0;
  background-position: 151px 4px;
}

.about-image {
  padding:90px 90px 0;
}

.team-single {
  position: relative;
}

.person-thumb {
  position: relative;
}

.person-thumb img {
}


.social-profile {
  background: none repeat scroll 0 0 rgba(137, 97, 46, 0.8);
  display: none;
  position: absolute;
  text-align: center;
  top: 0;
    -webkit-transition: all 0.9s ease;
  -moz-transition: all 0.9s ease;
  -ms-transition: all 0.9s ease;
  -o-transition: all 0.9s ease;
  transition: all 0.9s ease;transition: all 0.9s ease 0s;
  width: 100%;
  height: 100%;
}

.team-single:hover .social-profile{
  background:rgba(112, 35, 64, 0.9);
  display: block;
  -webkit-animation: fadeInUp 400ms;
  animation: fadeInUp 400ms;
  -webkit-transition: all 0.9s ease;
  -moz-transition: all 0.9s ease;
  -ms-transition: all 0.9s ease;
  -o-transition: all 0.9s ease;
  transition: all 0.9s ease;
}

.social-profile .nav-pills {
  display: inline-block;
  margin-top: -26px;
  padding: 0;
  position: relative;
  top: 50%;
}

.social-profile .nav-pills li {
  display: inline-block;
  margin: 0 5px;
}

.social-profile .nav-pills li a {
  color: #fff;
  border: 1px solid #fff;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  padding: 0;
  border-radius: 40px;
  -webkit-transition: all 0.9s ease;
  transition: all 0.9s ease;
}

.social-profile .nav-pills li a:hover {
  color: #702340;
  border-color: #702340;
}

.person-info h2 {
  font-weight: 300;
  margin-bottom: 5px;
}

.person-info h3 {
  font-size: 16px;
  color: #686868;
  font-weight: 300;
  margin-top: 0;
  margin-bottom: 0;
}

.team-carousel-control {
  position: absolute;
  top: 36%;
  width: 13px;
  height: 16px;
  text-indent: -9999999px;
  -webkit-transition: all 0.9s ease;
  -moz-transition: all 0.9s ease;
  -ms-transition: all 0.9s ease;
  -o-transition: all 0.9s ease;
  transition: all 0.9s ease;
}

.right.team-carousel-control {
  right: -50px;
  background-image: url(../images/aboutus/right.png);
}

.left.team-carousel-control {
  left: -50px;
  background-image: url(../images/aboutus/left.png);
}

.team-carousel-control:hover{
  background-position: 0 -18px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;  
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.count h1{
  font-size: 60px;
  color: #00aeef;
}

.count h3{
  font-size: 16px;
}

.progress .progress-bar.six-sec-ease-in-out {
  -webkit-transition: width 1s ease-in-out;
  -moz-transition: width 1s ease-in-out;
  -ms-transition: width 1s ease-in-out;
  -o-transition: width 1s ease-in-out;
  transition:  width 1s ease-in-out;
}

.top-zero{
  margin-top: 0;
}

h3.top-zero{
  font-size: 20px;
}

#company-information .about-us h2{
  margin-bottom: 45px;
}

.single-skill h3{
  font-size: 16px;
}

.progress{
  height: 30px;
  box-shadow: none;
  -webkit-box-shadow: none;
}

.progress-bar{
  line-height: 30px;
  box-shadow: none;
  -webkit-box-shadow: none;
}

.progress-bar.progress-bar-primary{
  background: #00aeef;
}

 


























/*
home page*/

img.mobileimg{
  width: 100%
}
nav.mainnavview.ng-scope {
    float: right;
    left: auto;
    right: auto;
    position: relative;
    margin-left: -322px;
    margin-right: 82px;
    margin-top: 19px;
}

img.headerlogo{
  float: left;
  margin-top: -15px;
    height: 50px;
    margin-left: 42px;
}



nav.mainnav {
    position: relative;
    left: 190px;
}
.main_h {
  position: fixed;
  top: 0px;
  max-height: 55px;
  z-index: 999;
  width: 100%;
  padding-top: 17px;
  background: none;
  overflow: hidden;
  -webkit-transition: all 1.3s;
  transition: all 1.3s;
  opacity: 0;
  top: -100px;
  padding-bottom: 6px;
  font-family: "Montserrat", sans-serif;
}


.open-nav {
  max-height: 400px !important;
}
.open-nav .mobile-toggle {
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
}

.sticky {
  background-color: black;
  opacity: 1;
  top: 0px;
}

.logo {
  width: 70px;
  font-size: 15px;
  color: #8f8f8f;
  text-transform: uppercase;
  float: left;
  display: block;
  margin-top: 0;
  line-height: 1;
  margin-bottom: 10px;
}

nav ul {
  margin-top:-3px; 
  list-style: none;
  overflow: hidden;
  text-align: right;
  float: right;
}

nav ul li {
  display: inline-block;
  margin-left: 35px;
  line-height: 1.5;
}

nav ul a {
  color: #fff;
  text-transform: uppercase;
  font-size: 12px;
}

#mobile-toggle {
  display: none;
  cursor: pointer;
  font-size: 20px;
  position: absolute;
  right: 22px;
  top: 0;
  width: 30px;
  -webkit-transition: all 200ms ease-in;
  -moz-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
}

.mouse {
  display: block;
  margin: 0 auto;
  width: 26px;
  height: 46px;
  border-radius: 13px;
  border: 2px solid #e8f380;
  position: absolute;
  bottom: 40px;
  position: absolute;
  left: 50%;
  margin-left: -26px;
}
.mouse span {
  display: block;
  margin: 6px auto;
  width: 2px;
  height: 2px;
  border-radius: 4px;
  background: #e8f380;
  border: 1px solid transparent;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-name: scroll;
  animation-name: scroll;
}

@-webkit-keyframes scroll {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }
}
@keyframes scroll {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    -ms-transform: translateY(20px);
    transform: translateY(20px);
  }
}


/* ------------------------------------------------------------ *\
|* ------------------------------------------------------------ *|
|* Globals
|* ------------------------------------------------------------ *|
\* ------------------------------------------------------------ */
button {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    cursor: pointer;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
/* ------------------------------------------------------------ *\
|* ------------------------------------------------------------ *|
|* Template
|* ------------------------------------------------------------ *|
\* ------------------------------------------------------------ */
body {
  font-family: 'Montserrat', sans-serif;
    overflow-x: hidden
}
#wrapper {
    position: relative;
    z-index: 10;
    top: 0;
    left: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
section {
    margin-bottom: 30px
}
section h1 {
    font-family: "Oswald", sans-serif;
    margin-bottom: 10px;
}
section p {
    margin-bottom: 30px
}
section p:last-child {
    margin-bottom: 0
}
section:last-child {
    margin-bottom: 0
}
section.toggle {
    text-align: center
}
.mask {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 15;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.82);
}
/* ------------------------------------------------------------ *\
|* ------------------------------------------------------------ *|
|* Toggle Buttons
|* ------------------------------------------------------------ *|
\* ------------------------------------------------------------ */
.buttons {
    margin-bottom: 30px;
    text-align: center;
}
.buttons button {
    display: inline-block;
    margin: 0 0 4px 0;
    padding: 15px 30px;
    color: #fff;
    background-color: #67b5d1;
}
.buttons button:hover,
.buttons button.active {
    background-color: #3184a1
}
.buttons button:focus {
    outline: none
}
/* ------------------------------------------------------------ *\
|* ------------------------------------------------------------ *|
|* Menus
|* ------------------------------------------------------------ *|
\* ------------------------------------------------------------ */
/* general style for all menus */
nav.menu {
    position: fixed;
    z-index: 1000; /*has a higher index than the nav-menu index of 999*/
    background-color: #67b5d1;
    overflow: hidden;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
nav.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    float: left;
    width:100%;
    margin-left: 0%;
}
nav.menu a {
    font-weight: 300;
    color: #fff;
}
button.close-menu {
    background-color: #3184a1;
    color: #fff;
}
button.close-menu:focus {
    outline: none
}
/* slide menu left and right, push menu left and right */
nav.slide-menu-left,
nav.slide-menu-right,
nav.push-menu-left,
nav.push-menu-right {
    top: 0;
    width: 300px;
    height: 100%;
}
nav.slide-menu-left li,
nav.slide-menu-right li,
nav.push-menu-left li,
nav.push-menu-right li {
    display: block;
    text-align: center;
    border-bottom: solid 0px #3184a1;
    border-top: solid 1px #b5dbe9;
    margin-left: 0; /*overrides previous li and starts with a 0 margin*/
}
nav.slide-menu-left li:first-child,
nav.slide-menu-right li:first-child,
nav.push-menu-left li:first-child,
nav.push-menu-right li:first-child {
    border-top: none
}
nav.slide-menu-left li:last-child,
nav.slide-menu-right li:last-child,
nav.push-menu-left li:last-child,
nav.push-menu-right li:last-child {
    border-bottom: none
}
nav.slide-menu-left a,
nav.slide-menu-right a,
nav.push-menu-left a,
nav.push-menu-right a {
    display: block;
    padding: 10px;
    font-size: 18px;
    text-transform: lowercase;
}
.close-menu {
  margin-right: 10px;
    float: right;
    background: transparent;
    font-size: 38px;
    font-weight: 100;
    padding: 0px !important;
    color: aliceblue;
}
nav.slide-menu-left,
nav.push-menu-left {
    left: -300px
}
nav.slide-menu-right,
nav.push-menu-right {
    right: -300px
}
body.sml-open nav.slide-menu-left,
body.pml-open nav.push-menu-left {
    left: 0
}
body.smr-open nav.slide-menu-right,
body.pmr-open nav.push-menu-right {
    right: 0
}
body.pml-open #wrapper {
    left: 300px
}
body.pmr-open #wrapper {
    left: -300px
}
/* slide menu top and bottom */
nav.slide-menu-top,
nav.slide-menu-bottom,
nav.push-menu-top,
nav.push-menu-bottom {
    left: 0;
    width: 100%;
    height: 100px;
}
nav.slide-menu-top ul,
nav.slide-menu-bottom ul,
nav.push-menu-top ul,
nav.push-menu-bottom ul {
    text-align: center;
    padding: 25px 0 0 0;
}
nav.slide-menu-top li,
nav.slide-menu-bottom li,
nav.push-menu-top li,
nav.push-menu-bottom li {
    display: inline-block;
    margin: 0;
    vertical-align: middle;
}
nav.slide-menu-top a,
nav.slide-menu-bottom a,
nav.push-menu-top a,
nav.push-menu-bottom a {
    display: block;
    line-height: 50px;
    padding: 0 10px;
    font-size: 18px;
}
nav.slide-menu-top button.close-menu,
nav.slide-menu-bottom button.close-menu,
nav.push-menu-top button.close-menu,
nav.push-menu-bottom button.close-menu {
    display: block;
    line-height: 50px;
    margin: 0;
    padding: 0 10px;
}
nav.slide-menu-top,
nav.push-menu-top {
    top: -100px
}
nav.slide-menu-bottom,
nav.push-menu-bottom {
    bottom: -100px
}
body.smt-open nav.slide-menu-top,
body.pmt-open nav.push-menu-top {
    top: 0
}
body.smb-open nav.slide-menu-bottom,
body.pmb-open nav.push-menu-bottom {
    bottom: 0
}
body.pmt-open #wrapper {
    top: 100px
}
body.pmb-open #wrapper {
    top: -100px
}
/* ------------------------------------------------------------ *\
|* ------------------------------------------------------------ *|
|* Media Queries
|* ------------------------------------------------------------ *|
\* ------------------------------------------------------------ */

.row.content.ng-scope {
    margin-top: 10%;
}
.fa.fa-bars {
    font-size: 28px;
    color: white;
}
button.nav-toggler.toggle-slide-left {
    background: transparent;
}
.contentcontainer.ng-scope {
    text-align: left;
    margin-top: 2%;
    width: 60%;
    margin-left: 18%;
}
h2.headline {
    padding-left: 28px;
    border-left: 16px solid black;
    text-align: start;
    font-size: 35px;
    font-weight: 400;
    color: black;
    font-family:  'sans-serif','montserrat';
    margin-bottom: 3%;
}
p.contentdiscription {
    font-family:  'Montserrat Light', arial;
    text-align: start;
    color: black;
    font-weight: 100 !important;
    word-spacing: 6px;
    letter-spacing: 0px;
}
.main-container {
    display: inline-flex;
    margin-top: 50px;
    margin-bottom: 65px;
}
button {
      font-size: large;
    font-weight: bold;
    color: black !important;
    outline: none;
}


.modal-header .close {
    color: black !important;
   margin-top: -10px !important;
    width: 3px;
    padding-right: 11px;

}
.modal-content {
    position: relative;
    background-color: #f5f5f5;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
     border: 0px !important; 
     border: 0px !important; 
     border-radius: 0px !important; 
    outline: 0;
    -webkit-box-shadow: 0 3px 9px rgba(0,0,0,.5);
    box-shadow: 0 3px 9px rgba(0,0,0,.5);
}
.modal-header {
    min-height: 16.43px;
    padding: 15px;
    border-bottom: 0px !important;
}


.form-control {
    display: block;
    width: 50% !important;
    height: 34px;
    padding: 5px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #06090B;
    background-color: #fff;
    background-image: none;
    border: 1px solid #272727 !important;
     border-radius: 0px !important; 
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    margin-left: 24% !important;
}

button.sendsms {
  outline: none;
    background: black;
    color: white !important;
    text-decoration: blink;
}
.modal-footer {
    padding: 15px;
    text-align: center !important;
    border-top: 1px solid #e5e5e5;
}
footer {
    height: 300px;
    padding: 150px;
}
.joinus.ng-scope {
    height: 300px;
    width: 100%;
    background: black;
    color: white;
    padding: 50px;
}
.form-group {
    text-align: left;
    margin-bottom: 15px;
}
label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
    margin-left: 138px;
}
span.orspan {
  font-weight: bold;
    padding: 0px 22px;
    font-size: 29px;
}
h3 {
    font-family: Montserrat Light !important;
    font-size: 24px !important;
    line-height: 32px !important;
}
div#mobilescreen {
     background-size: cover !important;
    margin-top: -388px;
    height: 317px;
    width: 179px;
    position: initial;
}
.mobilebackground{
  background-size: cover !important; 
   background-image:url("/images/Login.png");
    margin-top: -388px;
    height: 317px;
    width: 179px;
    margin-left: 21px;
    position: initial;

}
