 
<header role="banner" id="fh5co-header">
      <div class="container">
        <!-- <div class="row"> -->
          <nav class="navbar navbar-default">
            <div class="navbar-header">
              <!-- Mobile Toggle Menu Button -->
          <a id ="menubtn"class="js-fh5co-nav-toggle fh5co-nav-toggle"  ><i></i></a>
                <a class="navbar-brand" href="index.html">ZenRun</a> 
            </div>
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav navbar-right">
                <li ><a href="#" data-nav-section="home"><span>Home</span></a></li>
                <li><a href="#" data-nav-section="about"><span>How it works</span></a></li>
                 <li><a href="#" data-nav-section="JoinUs"><span>Partnerships</span></a></li>
                <li><a href="#/blog" data-nav-section="#/blog"><span>Blog</span></a></li>
                <li ><a href="#/aboutus" data-nav-section="Aboutus"><span>Aboutus</span></a></li>
               
     
              </ul>
            </div>
          </nav>
        <!-- </div> -->
      </div>
  </header>

    <!--/#page-breadcrumb-->
                    

    <section data-section="Aboutus" id="about-company" class="padding-top wow fadeInUp" data-wow-duration="400ms" data-wow-delay="400ms">
        <div class="row">
        <div class="col-md-12 section-heading text-center">
        <img src="/images/share-icon.png" class="margin-bottom" alt="">
          <h2 class="aboutush2">About our compny</h2>
          <div class="lineforaboutus"></div>
          <div class="row">
            <div class="col-md-8 col-md-offset-2 subtext">
              <h3>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</h3>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--/#about-company-->
    
    

    <div id="fh5co-press" data-section="press">
    <div class="container">
      <div class="row">
        <div class="col-md-12 section-heading text-center">
          <h2>Meet our team</h2>
          <div class="row">
            <div class="col-md-8 col-md-offset-2 subtext">
              <h3>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</h3>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <!-- Press Item -->
          <div class="fh5co-press-item">
            <div class="fh5co-press-img" style="background-image: url(images/img_7.jpg)">
            </div>
            <div class="fh5co-press-text">
              <h3 class="h2 fh5co-press-title">Ishan Nadkarni<span class="fh5co-border"></span></h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis eius quos similique suscipit dolorem cumque vitae qui molestias illo accusantium...</p>
              <p><a href="#" class="btn btn-primary btn-sm">Learn more</a></p>
            </div>
          </div>
          <!-- Press Item -->
        </div>

        <div class="col-md-12">
          <!-- Press Item -->
          <div class="fh5co-press-item">
            <div class="fh5co-press-img" style="background-image: url(images/img_8.jpg)">
            </div>
            <div class="fh5co-press-text">
              <h3 class="h2 fh5co-press-title">Akash Nautiyal<span class="fh5co-border"></span></h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis eius quos similique suscipit dolorem cumque vitae qui molestias illo accusantium...</p>
              <p><a href="#" class="btn btn-primary btn-sm">Learn more</a></p>
            </div>
          </div>
          <!-- Press Item -->
        </div>
        
        <div class="col-md-12">
          <!-- Press Item -->
          <div class="fh5co-press-item">
            <div class="fh5co-press-img" style="background-image: url(images/img_9.jpg);">
            </div>
            <div class="fh5co-press-text">
              <h3 class="h2 fh5co-press-title">Piyush Nagle<span class="fh5co-border"></span></h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis eius quos similique suscipit dolorem cumque vitae qui molestias illo accusantium...</p>
              <p><a href="#" class="btn btn-primary btn-sm">Learn more</a></p>
            </div>
          </div>
          <!-- Press Item -->
        </div>

        <div class="col-md-12">
          <!-- Press Item -->
          <div class="fh5co-press-item">
            <div class="fh5co-press-img" style="background-image: url(images/img_10.jpg);">
            </div>
            <div class="fh5co-press-text">
              <h3 class="h2 fh5co-press-title">Nikhil Khendelwal<span class="fh5co-border"></span></h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis eius quos similique suscipit dolorem cumque vitae qui molestias illo accusantium...</p>
              <p><a href="#" class="btn btn-primary btn-sm">Learn more</a></p>
            </div>
          </div>
          <!-- Press Item -->
        </div>
        <div class="col-md-12">
          <!-- Press Item -->
          <div class="fh5co-press-item">
            <div class="fh5co-press-img" style="background-image: url(images/img_10.jpg);">
            </div>
            <div class="fh5co-press-text">
              <h3 class="h2 fh5co-press-title">Ankit Maheswari<span class="fh5co-border"></span></h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis eius quos similique suscipit dolorem cumque vitae qui molestias illo accusantium...</p>
              <p><a href="#" class="btn btn-primary btn-sm">Learn more</a></p>
            </div>
          </div>
          <!-- Press Item -->
        </div>
      </div>
    </div>
  </div>
    <!--/#team-->

   
            <div class="aboutusrow"> 
                <div class="footerwraper">
                <div class="col-md-4 col-sm-12 wraper">
                    <div class="contact-form bottom">
                         <div class="row">
                           <div class="col-md-12 section-heading text-center">
                             <h2>Contact Us</h2>
                            </div>
                         </div>
                        <form id="main-contact-form" name="contact-form" method="post" action="sendemail.php">
                            <div class="form-group">
                                <input type="text" name="name" class="form-control" required="required" placeholder="Your Name">
                            </div>
                            <div class="form-group">
                                <input type="email" name="email" class="form-control" required="required" placeholder="Email ID">
                            </div>
                            <div class="form-group">
                                <textarea name="message" id="message" required="required" class="form-control" rows="8" placeholder="Type your message here"></textarea>
                            </div>                        
                            <div class="form-group">
                                <input type="submit" name="submit" class="btn btn-submit" value="Send Message">
                            </div>
                        </form>
                    </div>
                </div>
                </div>
                <div class="col-sm-12">
                    <div class="copyright-text text-center">
                        <p>&copy; Your Company 2014. All Rights Reserved.</p>
                        <p>Designed by <a target="_blank" href="http://www.themeum.com">Themeum</a></p>
                    </div>
                </div>
            </div>
   

        <div class="col-xs-show col-sm-show menu-mobile">
    <div id="wrapper-menu-mobile">
        <div class="wrapper">
            <ul>
                <li class="first"><span></span><button id="bt-fechar-menu"><a class="arrow"></a></button></li>
                <button class="appledwnlod"><i class="fa fa-apple"></i>Download App!</button>
                <button class="androiddwnlod"><i class="fa fa-android"></i>Download App!</button>
                <li><a href="#/home">Home<i class="fa fa-angle-right"></i></a></li>
                <li><a href="#/blog">Blog<i class="fa fa-angle-right"></i></a></li>
                <li><a href="#/aboutus">Aboutus<i class="fa fa-angle-right"></i></a></li>
                <li><a href="#">Settings<i class="fa fa-angle-right"></i></a></li>
                
                
            </ul>
        </div>
        <div class="block-menu-mobile"></div>
    </div>
</div>

