<header role="banner" id="fh5co-header">
      <div class="container">
        <!-- <div class="row"> -->
          <nav class="navbar navbar-default">
            <div class="navbar-header">
              <!-- Mobile Toggle Menu Button -->
          <a id ="menubtn"class="js-fh5co-nav-toggle fh5co-nav-toggle"  ><i></i></a>
                <a class="navbar-brand" href="index.html">ImpactRun</a> 
            </div>
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav navbar-right">
                <li><a href="#/home" ><span>Home</span></a></li>
                <li><a href="#/aboutus" ><span>Aboutus</span></a></li>
               
     
              </ul>
            </div>
          </nav>
        <!-- </div> -->
      </div>
  </header>
<div class="applink">DOWNLOAD OUR APP ! <i class="fa fa-angle-right"></i>
</div>
 <!-- continar -->
 <div class="blogheader">
     <div id=" blog" data-section="blog">   
    <div class="container">
        <div class="col-md-12 section-heading text-center blog">
          <h2 class="blog header">Who we are</h2>
          <div class="lineforaboutus"></div>
          <h3 class="partnershipdesc sec" >We are dreamers, doers, designers and developers driven by our mission to <br><i>Unleash India's Youth Potential.</i> <br><br>And our first product is 'ImpactRun'. </h3>
        </div>
    </div>
</div>
</div>
<!--/#page-breadcrumb-->
<!-- <section data-section="Aboutus" id="about-company" class="padding-top wow fadeInUp" data-wow-duration="400ms" data-wow-delay="400ms">
   <div class="row">
      <div class="col-md-12 section-heading aboutus text-center">
         <img src="/images/share-icon.png" class="margin-bottom" alt="">
         <h2 class="aboutush2">We Are</h2>
         <div class="lineforaboutus"></div>
         <div class="row">
            <div class="col-md-8 col-md-offset-2 subtext">
               <h3>A group of dreamers, designers and developers driven by our mission to <b>transform youth into a force for social good</b>. And our first product is 'Run for a Cause'.
                  <br/>We've got some exciting products on our shelf and are looking for passionate coders, designers, engineers and hustlers to help convert our collective vision into reality. A vision of a <b>global community of everyday changemakers</b>.
               </h3>
            </div>
         </div>
      </div>
   </div>
</section> -->
<!--/#about-company-->
<div id="fh5co-press" data-section="press">
   <div class="container">
         <div class="col-md-12 section-heading text-center">
            <h2 >Our Clan</h2>
            <div class="row">
               <div class="col-md-8 col-md-offset-2 subtext">
                  <h3 class="aboutustags first">Is our family. Our work, our passion.</h3>
               </div>
            </div>
         </div>
      
      <div class="row">
         <div class="col-md-12">
            <!-- Press Item -->
            <div class="fh5co-press-item">
              <div class="centeringimg">
               <div class="fh5co-press-img" style="background-image: url(images/ishan1.png)">
                </div>
               </div>
               <div class="fh5co-press-text">
                  <h2 class="h2 fh5co-press-title">Ishan Nadkarni<span class="fh5co-border"></span></h2>
                  <h3>IIT Bombay 2013</h3>
                  <h3>Mind, Voice and Plan</h3>
               </div>
            </div>
            <!-- Press Item -->
         </div>
        <h3 class="aboutustags">We code 'in the zone'. Have fun like kids.</h3>
         <div class="col-md-12">
            <!-- Press Item -->
            <div class="fh5co-press-item">
              <div class="centeringimg">
               <div class="fh5co-press-img" style="background-image: url(images/nagle1.png);">
               </div>
               </div>
               <div class="fh5co-press-text">
                  <h2 class="h2 fh5co-press-title">Piyush Nagle<span class="fh5co-border"></span></h2>
                  <h3>IIT Bombay 2012</h3>
                  <h3>Structure, Backend and Dev-Ops</h3>
               </div>
            </div>
            <!-- Press Item -->
         </div>
         <h3   class="aboutustags">We teach each other. We manage ourselves.</h3>
         <div class="col-md-12">
            <!-- Press Item -->
            <div class="fh5co-press-item">
              <div class="centeringimg">
               <div class="fh5co-press-img" style="background-image: url(images/gaurav1.png);">
                </div>
               </div>
               <div class="fh5co-press-text">
                  <h2 class="h2 fh5co-press-title">Gaurav Mehra<span class="fh5co-border"></span></h2>
                  <h3>IIT Bombay 2012</h3>
                  <h3>Strategy, Partnerships and Operations</h3>
               </div>
            </div>
            <!-- Press Item -->
         </div>
         <h3  class="aboutustags">Meditate like monks. Volunteer on weekends.</h3>
         <div class="col-md-12">
            <!-- Press Item -->
            <div class="fh5co-press-item">
              <div class="centeringimg">
               <div class="fh5co-press-img" style="background-image: url(images/khandu1.png);">
               </div>
               </div>
               <div class="fh5co-press-text">
                  <h2 class="h2 fh5co-press-title">Nikhil Khendelwal<span class="fh5co-border"></span></h2>
                  <h3>IIT Bombay 2013</h3>
                  <h3>Design, Aesthetics and UI</h3>
               </div>
            </div>
            <!-- Press Item -->
         </div>
         <h3  class="aboutustags">Tinker with technology. Design with desire.</h3>
         <div class="col-md-12">
            <!-- Press Item -->
            <div class="fh5co-press-item">
              <div class="centeringimg">
               <div class="fh5co-press-img" style="background-image: url(images/akash1.png)">
               </div>
               </div>
               <div class="fh5co-press-text">
                  <h2 class="h2 fh5co-press-title">Akash Nautiyal<span class="fh5co-border"></span></h2>
                  <h3>Self Made Coder</h3>
                  <h3>Genius, IoS and Frontend</h3>
               </div>
            </div>
            <!-- Press Item -->
         </div>
         <h3 class="aboutustags">But most importantly we are ImpactRunners.</h3>
         <div class="col-md-12">
            <!-- Press Item -->
            <div class="fh5co-press-item">
              <div class="centeringimg">
               <div class="fh5co-press-img" style="background-image: url(images/ankit1.png);">
               </div>
               </div>
               <div class="fh5co-press-text">
                  <h2 class="h2 fh5co-press-title">Ankit Maheshwari<span class="fh5co-border"></span></h2>
                  <h3>IIT Delhi 2011</h3>
                  <h3>Android, Algorithm and Advisor</h3>
               </div>
            </div>
            <!-- Press Item -->
         </div>
         <h3 class="aboutustags">We 'Run for a Cause'. Everyday!</h3>
      </div>
   </div>
</div>
<!--/#team-->
<div class="aboutusrow">
   <div class="footerwraper">
      <div class="col-md-4 col-sm-12 wraper">
         <div class="contact-form bottom">
            <div class="row">
               <div class="col-md-12 section-heading text-center">
                  <h2>Wish to Join Us?</h2>
               </div>
            </div>
        </div>
    </div>
</div>
</div>


    <div class="contactform">

    <div class="modal">
      <p>Thanks for writing to us, <span>generic user</span>. We'll get back with you as soon as we can.
      </p>
    </div>


 <div id="messages" class="well" ng-show="message"></div>
      <!-- FORM -->
      <div class="formwraper">
      <form ng-submit="processForm()">
         <!-- NAME -->
         <div id="name-group" class="form-group" ng-class="{ 'has-error' : errorName }">
            <input type="text" name="name" class="form-control" placeholder="Name" ng-model="formData.name">
            <span class="help-block" ng-show="errorName"></span>
         </div>
         <div id="superhero-group" class="form-group" ng-class="{ 'has-error' : errorSuperhero }">
            <input type="email" name="superheroAlias" class="form-control" placeholder="brucewayne@batman.com" ng-model="formData.superheroAlias">
            <span class="help-block" ng-show="errorSuperhero"></span>
         </div>
         <div id="content-group" class="form-group" ng-class="{ 'has-error' : errorContent }">
            <textarea  rows="5" cols="50" class="form-control" placeholder="write your feedback" ng-model="formData.content"></textarea>
            <span class="help-block" ng-show="errorContent"></span>
         </div>
         <button type="submit" class="btn btn-success btn-lg btn-block">
         <span class="fa fa-paper-plane-o"></span> Submit!
         </button>
      </form>
  </div>




   <div class="container">
      <div class="row row-bottom-padded-sm">
         <div class="col-md-12">
            <p>&copy; Green Freedom Pvt Ltd - 2016. All Rights Reserved.</p>
         <p>Designed with love by an ImpactRunner.</p>
         <p>Happy running!</p>
         </div>
      </div> 
   </div>
<div class="col-xs-show col-sm-show menu-mobile">
   <div id="wrapper-menu-mobile">
      <div class="wrapper">
         <ul>
            <li class="first"><span></span><button id="bt-fechar-menu"><a class="arrow"></a></button></li>
            <li><a href="#/home">Home<i class="fa fa-angle-right"></i></a></li>
            <li><a href="#/aboutus">About Us<i class="fa fa-angle-right"></i></a></li>
            <li><a href="#">Settings<i class="fa fa-angle-right"></i></a></li>
         </ul>
      </div>
      <div class="block-menu-mobile"></div>
   </div>
</div>


