<!--- menu-->
 <nav class="newmenu">
            <ul>
                <li><a href="#/home">Welcome</a></li>
                <li><a href="#/home/.sec02">How it works</a></li>
                <li><a href="#/blog">Blog</a></li>
                <li><a href="#/aboutus">Aboutus</a></li>
            </ul>
 </nav>
<!-- header -->
<header class="main_h">
 <img  class="headerlogo"src="/images/share-icon.png">
    <div class="row"> 
        <a class="nav-toggler toggle-slide-left">
            <i class="fa fa-bars"></i>
        </a>
        <nav class="mainnav">
            <ul>
                <li><a href="#/home">Welcome</a></li>
                <li><a href="#/home/.sec02">How it works</a></li>
                <li><a href="#/blog">Blog</a></li>
                <li><a href="#/aboutus">Aboutus</a></li>
            </ul>
        </nav>

    </div> 
</header>
<!-- slide-menu -->
 <nav class="menu slide-menu-left">
    <div class="close-menu"><i class="fa fa-angle-double-left"></i></div>
    <ul>
       <li><a href="#/home">Home</a></li>
       <li><a href="#/blog">Blog</a></li>
       <li><a href="#/aboutus">Aboutus</a></li>
    </ul>
 </nav>
 <!-- continar -->
 <div class="contentcontainer">
    <h1> Stories that inspire us!</h1>
    	<h2 class="headline" >104 Years And Running
        </h2>
        <h3>A Salute to Fauja Singh! The multi-record holding young marathoner.</h3>
        <iframe width="100%" height="400" src="https://www.youtube.com/embed/MtWZWsGPEMM" frameborder="0" allowfullscreen>
        </iframe>
    <p class="contentdiscription">Amidst the wrinkles and a Gandalf beard, a young Fauja Singh runs with a twinkle in his eyes and smile on his face. The world's oldest marathoner holds records for the 200 m, 400 m, 800 m, mile and 3000 m for his age group; all these records set within a single 94 minute period.</p>

    <p class="contentdiscription">He was one the torch bearer of 2012 Olympics in Great Britain.</p>
    </p>

    <p class="contentdiscription">He attributes his physical fitness and longevity to abstaining from smoking and alcohol and to following a simple vegetarian diet. He is also the oldest man to be featured in a PETA campaign.</p>

    <p class="contentdiscription">Fauja Singh is a living legend and an enormous inspiration to all generations after him.</p>

    <h2 class="headline">1 man 60 days 4600 km 
    </h2>
    <h3>A former Australian MP is running from Kanyakumari to Kashmir to fund Girls' Education.</h3>
   <iframe width="100%" height="400" src="https://www.youtube.com/embed/sLpaopb2kyY" frameborder="0" allowfullscreen></iframe>
    <p class="contentdiscription">Ultra-long distance runner and former Australian MP Pat Farmer is in India. And he has taken up a herculean task to run the length of India from the southernmost tip of Kanyakumari to the northernmost Kashmir in just 60 days.</p>

    <p class="contentdiscription">That is a total of 4,600 km across 10 states, averaging 76 km a day!</p>
    
    <p class="contentdiscription">
    The 53-year-old began his 'Spirit of India' journey on 26th January 2016 which is both Australia Day and India’s Republic Day. Before setting, he told media that his aim is to raise funds for girls' education in India, besides promoting goodwill, friendship and trade between the two nations.
    </p>

    <h2 class="headline">1 man 60 days 4600 km 
    </h2>
    <h3>A former Australian MP is running from Kanyakumari to Kashmir to fund Girls' Education.</h3>
   <iframe width="100%" height="400" src="https://www.youtube.com/embed/sLpaopb2kyY" frameborder="0" allowfullscreen></iframe>
    <p class="contentdiscription">Ultra-long distance runner and former Australian MP Pat Farmer is in India. And he has taken up a herculean task to run the length of India from the southernmost tip of Kanyakumari to the northernmost Kashmir in just 60 days.</p>

    <p class="contentdiscription">That is a total of 4,600 km across 10 states, averaging 76 km a day!</p>
    
    <p class="contentdiscription">
    The 53-year-old began his 'Spirit of India' journey on 26th January 2016 which is both Australia Day and India’s Republic Day. Before setting, he told media that his aim is to raise funds for girls' education in India, besides promoting goodwill, friendship and trade between the two nations.
    </p>

    <h2 class="headline">1 man 60 days 4600 km 
    </h2>
    <h3>A former Australian MP is running from Kanyakumari to Kashmir to fund Girls' Education.</h3>
   <iframe width="100%" height="400" src="https://www.youtube.com/embed/sLpaopb2kyY" frameborder="0" allowfullscreen></iframe>
    <p class="contentdiscription">Ultra-long distance runner and former Australian MP Pat Farmer is in India. And he has taken up a herculean task to run the length of India from the southernmost tip of Kanyakumari to the northernmost Kashmir in just 60 days.</p>

    <p class="contentdiscription">That is a total of 4,600 km across 10 states, averaging 76 km a day!</p>
    
    <p class="contentdiscription">
    The 53-year-old began his 'Spirit of India' journey on 26th January 2016 which is both Australia Day and India’s Republic Day. Before setting, he told media that his aim is to raise funds for girls' education in India, besides promoting goodwill, friendship and trade between the two nations.
    </p>
    
</div>

    


