<nav class="mainnavview">
	           <ul>
                 <li><a href=".sec01">Welcome</a></li>
                <li><a href=".sec02">How it works</a></li>
                <li><a href="#/blog">Blog</a></li>
                <li><a href="#/aboutus">Aboutus</a></li>
               
            </ul>
</nav>

<header class="main_h">
<img  class="headerlogo"src="/images/share-icon.png">
    <div class="row">
        
        <a class="nav-toggler toggle-slide-left">
        	<i class="fa fa-bars"></i>
     </a>
        <nav class="mainnav">
            <ul>
                <li><a href=".sec01">Welcome</a></li>
                <li><a href=".sec02">How it works</a></li>
                <li><a href="#/blog">Blog</a></li>
                <li><a href="#/aboutus">Aboutus</a></li>
            </ul>
        </nav>

    </div> <!-- / row -->
</header>

<nav class="menu slide-menu-left">
	<div class="close-menu"><i class="fa fa-angle-double-left"></i></div>
    <ul>
       <li><a href="#/home">Home</a></li>
       <li><a href="#/blog">Blog</a></li>
       <li><a href="#/aboutus">Aboutus</a></li>
    </ul>
    </nav>

<div class="bg-hero"></div>
<header class="hero">
  <div class="hero__content">
    <img  class="mainlogo"src="images/share-icon.png">
      <g id="layer1" transform="translate(-198.42 -239.01)">
        <path id="path4429-7" d="m202.59 245.32 155.42 136.01-157.32 116.1 275.23-159.17-138.21 319.21z" stroke="#fff" stroke-width="10" fill="#fff"></path>
      </g>
    </svg>
    <h2 class="hero__content__heading fade-in">RUN FOR A CAUSE</h2>
    <p class="hero__content__blurb fade-in"> Everyday!</p>
    <div class="social-icons fade-in"><button type="button" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">Download App</button>
    </div>
  </div>
</header>

<!-- /slide menu left --> 
    
          


 <div class="sec02" style="width: 100%">
  
  <!--For our animations to look good, the animated elements need to be able to be scrolled to. For this example I've added dummy content to the top -->
<div class="main-container">


    <!-- Course 1 -->
    
  <div class="appfeatures">
  
   <div class="appfeaturesfirst">
    	<p><strong>'Choose a cause'</strong><br>
    		you wish to <br>
    		Support!
    	</p>
    </div>
    <div class="appfeaturesecond">
    <p><strong>'Invite friends'</strong><br>
    	and set group targets, <br>
    	milestones and comptitions!
    	</p>
    </div>
  </div>
  <div class="post">
      <div class="subject development">
         <img  class="mobileimg" src="/images/mobile.png">
        <div class="mobilebackground"> <div id="mobilescreen"></div></div>
      </div>
    </div>
    
  <div class="appfeatures2">
  
   <div class="appfeaturesthird">
    	<p><strong>'Begin run'</strong><br>
    		 to start you <br>
    		impact!
    	</p>
    </div>
    <div class="appfeatureforth">
    <p><strong>'Join our community'</strong><br>
    	of change makers and <br>
    	impact runners!
    	</p>
    </div>
  </div>

  </div>  
  
</div>
<div class="overlay">

 <div style="width: 100%">
  <div class="flex-column">
 	<h1 class="auto">How it works</h1>
 </div>
    <p>For every kilometer yourun, our proud sponsors donate acorresponding amount to a charity/trust representing your choosen cause the charity/trust then uses the money to execute a campains. Event or projectwhich you can attent os wEll.
    
 </div> 
 </div>
 <div class="joinus">
 <h1> You can also join</h1>
  <div class="flex-row" style="justify-content: center">
   <button type="button" data-toggle="modal" data-target="#Spounser" >
   Spounser Community
   </button>
   <span class="orspan">or</span> 
   <button type="button" data-toggle="modal" data-target="#enterprice"> Enterprice Community</button>
  </div>
  </div>
  <div class="modal fade" id="Spounser" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
              <h4 class="modal-title" id="exampleModalLabel"></h4>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="XXXXXXXX" class="control-label">Company Name</label>
            <input placeholder="eg: apni compny" type="text" class="form-control" id="recipient-name" style="text-align:center;">
            <label for="XXXXXXXX" class="control-label">Email ID</label>
            <input placeholder="eg: xyz@gmail.com" type="text" class="form-control" id="recipient-name" style="text-align:center;">
            <label for="XXXXXXXX" class="control-label">Phone No.</label>
            <input placeholder="eg: 89XXXXXXXX" type="text" class="form-control" id="recipient-name" style="text-align:center;">
            <label for="XXXXXXXX" class="control-label">Message</label>
            <textarea rows="4" placeholder="eg: enter your message" type="text" class="form-control" id="recipient-name" style="text-align:center;"></textarea>
          </div>
          <button class="sendsms">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="enterprice" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
     <h4 class="modal-title" id="exampleModalLabel"></h4>

      <div class="modal-body">
        <form>
           <div class="form-group">
            <label for="XXXXXXXX" class="control-label">Ngo Name</label>
            <input placeholder="eg: apni compny" type="text" class="form-control" id="recipient-name" style="text-align:center;">
            <label for="XXXXXXXX" class="control-label">Email ID</label>
            <input placeholder="eg: xyz@gmail.com" type="text" class="form-control" id="recipient-name" style="text-align:center;">
            <label for="XXXXXXXX" class="control-label">Phone No.</label>
            <input placeholder="eg: 89XXXXXXXX" type="text" class="form-control" id="recipient-name" style="text-align:center;">
            <label for="XXXXXXXX" class="control-label">Message</label>
            <textarea rows="4" placeholder="eg: enter your message" type="text" class="form-control" id="recipient-name" style="text-align:center;"></textarea>
          </div>
                    <button class="sendsms">Submit</button>

        </form>
      </div>
    
    </div>
  </div>
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="exampleModalLabel">OPEN IN MOBILE</h4>
      </div>
      <img src="/images/mobile.png" style="height:100px; width:50px;">
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="XXXXXXXX" class="control-label">Enter your mobile number</label>
            <input placeholder="eg: 89XXXXXXX" type="text" class="form-control" id="recipient-name" style="text-align:center;">
          </div>
          <button class="sendsms">SEND SMS</button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="sendsms" data-dismiss="modal">View on GooglePlay</button>
      </div>
    </div>
  </div>
</div>
 <footer>
 	Thankyou for Downloading our app happy runnning....
 </footer>
