<header role="banner" id="fh5co-header">
      <div class="container">
        <!-- <div class="row"> -->
          <nav class="navbar navbar-default">
            <div class="navbar-header">
              <!-- Mobile Toggle Menu Button -->
          <a href="#" id ="menubtn"class="js-fh5co-nav-toggle fh5co-nav-toggle"  ><i></i></a>
                <a class="navbar-brand" href="index.html">ZenRun</a> 
            </div>
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav navbar-right">
                <li class="active"><a href="#" data-nav-section="home"><span>Home</span></a></li>
                <li><a href="#" data-nav-section="about"><span>How it works</span></a></li>
                <li><a href="#" data-nav-section="JoinUs"><span>Partnerships</span></a></li>
                <li><a href="#/blog" data-nav-section="services"><span>Blog</span></a></li>
                <li><a href="#/aboutus" data-nav-section="features"><span>Aboutus</span></a></li>
               
     
              </ul>
            </div>
          </nav>
        <!-- </div> -->
      </div>
  </header>

  
    <section class="head img_container" data-section="home">
      <div class="overlay"></div>
<header class="fader">
  <div class="col-md-8 col-md-offset-2 text-center">
                <div class="fh5co-owl-text-wrap">
                  <div class="fh5co-owl-text">
                     <img src="/images/share-icon.png" style="height:135px; width:135px; display: block; margin-left: auto;margin-right: auto ; margin-bottom: 35px;">
                    <h1 class="fh5co-lead">Run For A Cause</h1>
                  <h2 class="fh5co-sub-lead">Create Impact Everyday !</h2>
                  <p><a data-toggle="modal" data-target="#appdownloadpopup" class="btn btn-primary btn-lg">Coming Soon..</a></p>
                 </div>
               </div>
              </div>
</header>
</section>
      <!-- You may change the background color here. -->
       
        
   
  <div id="fh5co-about-us" data-section="about">
    <div class="container">
      <div class="row row-bottom-padded-lg" id="about-us">
        <div class="col-md-12 section-heading text-center">
          <h2 >How it Works
          </h2>
          <div class="row">
            <div class="col-md-8 col-md-offset-2 homeappslide">
              <h3>Every meter you run on the app raises funds for the cause (campaign) of your choice.<br>
               Our sponsors share an amount corresponding to the total distance run for the campaigns.<br>
                We and our partnered social enterprises then execute these campaigns.<br>
              More the distance, higher the impact!
              </h3>
            </div>
          </div>
        </div>
        <div class="col-md-8 ">
          <img src="images/iphone-1.png" class="img-responsive img-rounded" alt="Free HTML5 Template">
        </div>
        <div class="col-md-4 appservices">
          <div class="appfeaturewrap">
          <h2 class="appfeatues">Choose a Cause</h2>
          <p class="featurep">you wish to support.</p>
          </div>
          <div class="appfeaturewrap">
          <h2 class="appfeatues">Begin your Run</h2>
          <p class="featurep">and begin the impact.</p>
          </div>
          <div class="appfeaturewrap">
          <h2 class="appfeatues">Share with friends</h2>
          <p class="featurep">Spread .</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  
  

  <div id="fh5co-testimonials" data-section="JoinUs">   
    <div class="container">
        <div class="col-md-12 section-heading text-center">
          <h2>Partner with us</h2>
          <h3 class="partnershipdesc" > Join our impact community as a</h3>
          <div class="row">
              <div class="flex-row" style="justify-content: center">
                               <button class="btn btn-primary btn-lg" type="button" data-toggle="modal" data-target="#Spounser">Corporate Sponsor
                               </button>
                                <span class="orspan">or</span> 
                               <button class="btn btn-primary btn-lg" type="button" data-toggle="modal" data-target="#enterprice">Social Enterprise 
                               </button>
              </div>
          </div>
        </div>
     <div class="modal fade" id="Spounser" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
         <div class="modal-dialog" role="document">
          <div class="modal-content">
           <div class="modal-header">
             <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              </div>
              <h4 class="modal-title" id="exampleModalLabel"></h4>
               <div class="modal-body">
           <form>
            <div class="form-group">
            <label for="XXXXXXXX" class="control-label">Company Name</label>
            <input placeholder="Company Pvt Ltd" type="text" class="form-control" id="recipient-name" style="text-align:center;">
            <label for="XXXXXXXX" class="control-label">Email ID</label>
            <input placeholder="yourname@company.com" type="text" class="form-control" id="recipient-name" style="text-align:center;">
            <label for="XXXXXXXX" class="control-label">Phone No.</label>
            <input placeholder="89XX909090" type="text" class="form-control" id="recipient-name" style="text-align:center;">
            <label for="XXXXXXXX" class="control-label">Your Message</label>
            <textarea rows="4" placeholder="eg - We would love to partner with you!" type="text" class="form-control" id="recipient-name" style="text-align:center;"></textarea>
          </div>
          <button class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="enterprice" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
     <h4 class="modal-title" id="exampleModalLabel"></h4>

      <div class="modal-body">
        <form>
           <div class="form-group">
            <label for="XXXXXXXX" class="control-label">Company Name</label>
            <input placeholder="Sharing Smiles" type="text" class="form-control" id="recipient-name" style="text-align:center;">
            <label for="XXXXXXXX" class="control-label">Email ID</label>
            <input placeholder="changefor@thebetter.com" type="text" class="form-control" id="recipient-name" style="text-align:center;">
            <label for="XXXXXXXX" class="control-label">Phone No.</label>
            <input placeholder="89XXXX9090" type="text" class="form-control" id="recipient-name" style="text-align:center;">
            <label for="XXXXXXXX" class="control-label">Your Message</label>
            <textarea rows="4" placeholder="eg - We would love to partner with you!" type="text" class="form-control" id="recipient-name" style="text-align:center;"></textarea>
          </div>
                    <button class="btn btn-primary enterprise">Submit</button>

        </form>
      </div>
    
    </div>
  </div>
</div>
<div class="modal fade" id="appdownloadpopup" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="exampleModalLabel">OPEN IN MOBILE</h4>
      </div>
      <img src="/images/mobile.png" style="height:100px; width:50px;">
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="XXXXXXXX" class="control-label">Enter your mobile number</label>
            <input placeholder="eg: 89XXXXXXX" type="text" class="form-control" id="recipient-name" style="text-align:center;">
          </div>
          <button class="btn btn-primary">SEND SMS</button>
        </form>
      </div>
    </div>
  </div>
</div>
</div>
      <!-- <div class="row">
        <div class="col-md-4">
          <div class="box-testimony">
            <blockquote>
              <span class="quote"><span><i class="icon-quote-left"></i></span></span>
              <p>&ldquo;Incredibly easy to use!&rdquo;</p>
            </blockquote>
            <p class="author"> Farhan Akhtar, Actor </p> 
          </div>
        </div>
        <div class="col-md-4">
          <div class="box-testimony">
            <blockquote>
              <span class="quote"><span><i class="icon-quote-left"></i></span></span>
              <p>&ldquo;I've been using this app for almost a year now and I think it is an amazingly simple way to give back.&rdquo;</p>
            </blockquote>
            <p class="author">Ankita Jhaveri, Ultra Marathoner </p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="box-testimony">
            <blockquote>
              <span class="quote"><span><i class="icon-quote-left"></i></span></span>
              <p>&ldquo;An innovative solution to connect corporates, Indian youth and the social sector. It's been a great experience partnering with ZenRun.&rdquo;</p>
            </blockquote>
            <p class="author">Suhani Mohan, CEO Saral Designs</p>
          </div>
          
        </div>
      </div> -->
    </div>
 

  <section id="fh5co-contact" data-section="contact">
    <div class="container">
      <div class="row">
        <div class="col-md-12 section-heading text-center">
          <h2>Feedback</h2>
          <div class="row">
            <div class="col-md-8 col-md-offset-2 subtext ">
              <h3>Let us know what you think. Your ideas help us grow faster!</h3>
            </div>
          </div>
        </div>
      </div>
      <div class="row row-bottom-padded-md">
        <div class="col-md-6 ">
          <h3>Your Message</h3>
          <div class="form-group ">
            <label for="name" class="sr-only">Your Name</label>
            <input id="name" class="form-control" placeholder="Name eg: Milkha Singh" type="text">
          </div>
          <div class="form-group ">
            <label for="email" class="sr-only">Email ID</label>
            <input id="email" class="form-control" placeholder="Email ID eg: PTUsha@running.com" type="email">
          </div>
          <div class="form-group ">
            <label for="phone" class="sr-only">Phone No.</label>
            <input id="phone" class="form-control" placeholder="Phone Number eg: 89xx909090" type="text">
          </div>
          <div class="form-group ">
            <label for="message" class="sr-only">Message</label>
            <textarea name="" id="message" cols="30" rows="5" class="form-control" placeholder="Enter your feedback here. Thank you."></textarea>
          </div>
          <div class="form-group ">
            <input value="Send Message" type="submit">
          </div>
          </div>
        </div>
      </div>
  </section>
  <footer id="footer" role="contentinfo">
    <div class="container">
      <div class="row row-bottom-padded-sm">
        <div class="col-md-12">
          <p class="copyright text-center">&copy; 2016  <a href="index.html">Sharingsmiles.in</a>. All Rights Reserved. <br>Happy running...</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 text-center">
          <ul class="social social-circle">
            <li><a href="#"><i class="icon-twitter"></i></a></li>
            <li><a href="#"><i class="icon-facebook"></i></a></li>
            <li><a href="#"><i class="icon-youtube"></i></a></li>
            <li><a href="#"><i class="icon-pinterest"></i></a></li>
            <li><a href="#"><i class="icon-linkedin"></i></a></li>
            <li><a href="#"><i class="icon-instagram"></i></a></li>
            <li><a href="#"><i class="icon-dribbble"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
  
  
  


 <div class="col-xs-show col-sm-show menu-mobile">
    <div id="wrapper-menu-mobile">
        <div class="wrapper">
            <ul>
                <li class="first"><span></span><button id="bt-fechar-menu"><a class="arrow"></a></button></li>
                <button class="appledwnlod"><i class="fa fa-apple"></i>Download App!</button>
                <button class="androiddwnlod"><i class="fa fa-android"></i>Download App!</button>
                <li><a href="#/home">Home<i class="fa fa-angle-right"></i></a></li>
                <li><a href="#/blog">Blog<i class="fa fa-angle-right"></i></a></li>
                <li><a href="#/aboutus">Aboutus<i class="fa fa-angle-right"></i></a></li>
                <li><a href="#">Settings<i class="fa fa-angle-right"></i></a></li>
                
                
            </ul>
        </div>
        <div class="block-menu-mobile"></div>
    </div>
</div>
