<header role="banner" id="fh5co-header" >
   <div class="container">


      <!-- <div class="row"> -->
      <nav class="navbar navbar-default">
         <div class="navbar-header">
            <!-- Mobile Toggle Menu Button -->
            <a href="#" id ="menubtn"class="js-fh5co-nav-toggle fh5co-nav-toggle"  ><i></i></a>
            <a class="navbar-brand" href="index.html">ImpactRun</a> 
         </div>
         <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
               <li><a href="#" data-nav-section="home"><span>Home</span></a></li>
              
               <li><a href="#/aboutus" data-nav-section="features"><span>Aboutus</span></a></li>
            </ul>
         </div>
      </nav>
      <!-- </div> -->
   </div>
</header>
<section class="base" id="one">
 <section class="head img_container" data-section="home" id="fh5co-about-us" >
   <div class="overlay"></div>
   <header class="fader">
      <div class="col-md-8 col-md-offset-2 text-center">
      <div class="fh5co-owl-text-wrap">
         <div class="fh5co-owl-text">
            <h1 class="fh5co-lead">Run For A Cause</h1>
            <h2 class="fh5co-sub-lead">Create Impact Everyday !</h2>
            <div class="appbtnwrapper">
              <button class="appledwnlod"><i class="fa fa-apple"></i>Download App!</button>
                <button class="androiddwnlod"><i class="fa fa-android"></i>Download App!</button>
                </div>
            <form ng-init="user.phone = valid" class="form-horizontal"id="form"role="form" method="post" name="registration" novalidate>
               <div class="form mobile" ng-class="{'has-error': registration.phone.$error.number}">
                  <div class="mobile">
                     <div class="phone-number-input">
                      
                      <div class="inline">
                     <div style="margin:0 auto; width:72%;" >
                        <!-- <span class="spanone" ng-show="registration.phone.$error.required || registration.phone.$error.number" style = "     margin-right: -54%;height:67px;width: 47%;background: rgba(255, 255, 255, 0.02);border-bottom: 2px solid white;z-index: 10;"></span>
                        <span  class="spamtwo" ng-show="((registration.phone.$error.minlength || registration.phone.$error.maxlength) && registration.phone.$dirty) " style= "    margin-right: -54%;height:67px;width: 47%;background: rgba(255, 255, 255, 0.02);border-bottom: 2px solid red;z-index: 10;"></span> -->
                        <input class="getlink" id="phone-number-input"  type="text"  ng-minlength="10" maxlength="10"  id="inputPhone" name="phone" placeholder="enter your mobile number." ng-model="user.phone" ng-required="true"  >


                          <label class="valid" for="phone-number">
                           <svg width="28px" height="28px" viewBox="0 0 28 28" version="1.1">
                              <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                 <g transform="translate(-890.000000, -623.000000)" fill="#FFFFFF" opacity="0.9">
                                    <g transform="translate(524.000000, 468.000000)">
                                       <g transform="translate(366.000000, 155.000000)">
                                          <path d="M9.97374888,20.6610254 L11.2477328,21.9350092 L22.4350092,10.7477328 L20.3071035,8.61982707 L11.2477328,17.6791979 L7.62790569,14.0593708 L5.5,16.1872765 L9.97374888,20.6610254 Z M13.8863076,27.3315173 C21.3118918,27.3315173 27.3315173,21.3118918 27.3315173,13.8863076 C27.3315173,6.46072329 21.3118918,0.441097862 13.8863076,0.441097862 C6.46072329,0.441097862 0.441097862,6.46072329 0.441097862,13.8863076 C0.441097862,21.3118918 6.46072329,27.3315173 13.8863076,27.3315173 Z"></path>
                                       </g>
                                    </g>
                                 </g>
                              </g>
                           </svg>
                          </label>
                          <label class="invalid" for="phone-number">
                           <svg width="28px" height="28px" viewBox="0 0 28 28" version="1.1">
                              <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                 <g transform="translate(-930.000000, -623.000000)" fill="#FFFFFF" opacity="0.9">
                                    <g transform="translate(524.000000, 468.000000)">
                                       <g transform="translate(406.000000, 155.000000)">
                                          <path d="M16.0142133,13.8863076 L20.5438986,9.35662218 L18.415993,7.22871648 L13.8863076,11.7584019 L9.35662218,7.22871648 L7.22871648,9.35662218 L11.7584019,13.8863076 L7.22871648,18.415993 L9.35662218,20.5438986 L13.8863076,16.0142133 L18.415993,20.5438986 L20.5438986,18.415993 L16.0142133,13.8863076 Z M13.8863076,27.3315173 C21.3118918,27.3315173 27.3315173,21.3118918 27.3315173,13.8863076 C27.3315173,6.46072329 21.3118918,0.441097862 13.8863076,0.441097862 C6.46072329,0.441097862 0.441097862,6.46072329 0.441097862,13.8863076 C0.441097862,21.3118918 6.46072329,27.3315173 13.8863076,27.3315173 Z"></path>
                                       </g>
                                    </g>
                                 </g>
                              </g>
                           </svg>
                          </label>
                  
                  
                         <button ng-disabled="user.phone" type="submit" id="go"class="getapp" >Get App Link</button>
                         </div>

                        </div>
                        
                       
                   
                       
                     </div>
                    </div>
                  </div>
               </div>
         </div>
      </div>
   </header>
</section>
</section>
<section class="base" id="two">
  <div id="fh5co-about-us" data-section="about">
   <div class="container">
      <div class="row row-bottom-padded-lg" id="about-us">
         <div class="col-md-12 section-heading text-center">
            <h2 >How it Works</h2>
            <div class="row">
               <div class="col-md-8 col-md-offset-2 homeappslide">
                  <h3>Our sponsors share an amount corresponding to the total distance run for the campaigns.<br>
                     More the distance, higher the impact!
                  </h3>
               </div>
            </div>
         </div>
         <div class="col-md-8 ">
            <div class="tab-content well">
               <div class="tab-pane active" id="tab-1"><img src="images/home.png"></div>
               <div class="tab-pane" id="tab-2"><img src="images/service2.png"></div>
               <div class="tab-pane" id="tab-3"><img src="images/lastservice.png"> </div>
            </div>
         </div>
         <div class="col-md-4 appservices">
            <ul class="nav nav-pills">
               <li class="active">
                  <a class="out" href="#tab-1" data-toggle="tab">
                     <div class="appfeaturewrap">
                        <h2 class="appfeatues">Choose a Cause</h2>
                        <p class="featurep">you wish to support.</p>
                     </div>
                  </a>
               </li>
               <li>
                  <a  class="out" href="#tab-2" data-toggle="tab">
                     <div class="appfeaturewrap">
                        <h2 class="appfeatues">Begin your Run</h2>
                        <p class="featurep">and begin the impact.</p>
                     </div>
                  </a>
               </li>
               <li>
                  <a class="out" href="#tab-3" data-toggle="tab">
                     <div class="appfeaturewrap">
                        <h2 class="appfeatues">Share with friends</h2>
                        <p class="featurep">Spread the word.</p>
                     </div>
                  </a>
               </li>
            </ul>
         </div>
      </div>
   </div>
</div>

</section>
<section class="base" id="three">
    <div id="fh5co-testimonials" data-section="JoinUs">
<div class="overlaysec"></div>
<div class="container">
   <div class="col-md-12 section-heading text-center">
      <h2>Partner with us</h2>
      <h3 class="partnershipdesc sec" > Join our impact community as a</h3>
      <div class="row">
         <div class="flex-row" style="justify-content: center">
            
  
  <!-- cd-popup-container -->
          </div>
<!-- cd-popup -->
            
            <div class="containerpopup">
                 <a href="#0" class="cd-popup-trigger">Runner</a>

                <div class="cd-popup" role="alert">
                  <div class="cd-popup-container">
                  <form>
                  <div class="form-group">
                     <label for="XXXXXXXX" class="control-label">Company Name</label>
                     <input placeholder="Sharing Smiles" type="text" class="form-control" id="recipient-name" style="text-align:center;">
                     <label for="XXXXXXXX" class="control-label">Email ID</label>
                     <input placeholder="changefor@thebetter.com" type="text" class="form-control" id="recipient-name" style="text-align:center;">
                     <label for="XXXXXXXX" class="control-label">Phone No.</label>
                     <input placeholder="89XXXXXXXX" type="text" class="form-control" id="recipient-name" style="text-align:center;">
                     <label for="XXXXXXXX" class="control-label">Your Message</label>
                     <textarea rows="4" placeholder="Enter message here. We would love to partner with you!" type="text" class="form-control" id="recipient-name" style="text-align:center;"></textarea>
                  </div>
                  <button  class="btn btn-primary enterprise">Submit</button>
                    </form>

                  <ul class="cd-buttons">
                    <li><a href="#0">Yes</a></li>
                     <li><a href="#0">No</a></li>
                 </ul>
                 <a href="#0" class="cd-popup-close img-replace">Close</a>
                </div>
  <!-- cd-popup-container -->
            </div>
<!-- cd-popup -->
         </div>
            <div class="containerpopup">
                 <a href="#1" class="cd-popup-trigger-first">Invester</a>

                <div class="cd-popup-first" role="alert">
                  <div class="cd-popup-container">
                  <form>
                  <div class="form-group">
                     <label for="XXXXXXXX" class="control-label">Company Name</label>
                     <input placeholder="Sharing Smiles" type="text" class="form-control" id="recipient-name" style="text-align:center;">
                     <label for="XXXXXXXX" class="control-label">Email ID</label>
                     <input placeholder="changefor@thebetter.com" type="text" class="form-control" id="recipient-name" style="text-align:center;">
                     <label for="XXXXXXXX" class="control-label">Phone No.</label>
                     <input placeholder="89XXXXXXXX" type="text" class="form-control" id="recipient-name" style="text-align:center;">
                     <label for="XXXXXXXX" class="control-label">Your Message</label>
                     <textarea rows="4" placeholder="Enter message here. We would love to partner with you!" type="text" class="form-control" id="recipient-name" style="text-align:center;"></textarea>
                  </div>
                  <button  class="btn btn-primary enterprise">Submit</button>
                    </form>

                  <ul class="cd-buttons">
                    <li><a href="#1">Yes</a></li>
                     <li><a href="#1">No</a></li>
                 </ul>
                 <a href="#1" class="cd-popup-close img-replace">Close</a>
                </div>
  <!-- cd-popup-container -->
            </div>
<!-- cd-popup -->
         </div>
             <div class="containerpopup">
                 <a href="#2" class="cd-popup-trigger-second">Enterprices</a>

                <div class="cd-popup-second" role="alert">
                  <div class="cd-popup-container">
                  <form>
                  <div class="form-group">
                     <label for="XXXXXXXX" class="control-label">Company Name</label>
                     <input placeholder="Sharing Smiles" type="text" class="form-control" id="recipient-name" style="text-align:center;">
                     <label for="XXXXXXXX" class="control-label">Email ID</label>
                     <input placeholder="changefor@thebetter.com" type="text" class="form-control" id="recipient-name" style="text-align:center;">
                     <label for="XXXXXXXX" class="control-label">Phone No.</label>
                     <input placeholder="89XXXXXXXX" type="text" class="form-control" id="recipient-name" style="text-align:center;">
                     <label for="XXXXXXXX" class="control-label">Your Message</label>
                     <textarea rows="4" placeholder="Enter message here. We would love to partner with you!" type="text" class="form-control" id="recipient-name" style="text-align:center;"></textarea>
                  </div>
                  <button  class="btn btn-primary enterprise">Submit</button>
                    </form>

                  <ul class="cd-buttons">
                    <li><a href="#2">Yes</a></li>
                     <li><a href="#2">No</a></li>
                 </ul>
                 <a href="#0" class="cd-popup-close img-replace">Close</a>
                </div>
  <!-- cd-popup-container -->
            </div>
<!-- cd-popup -->
         </div>
<!-- cd-popup -->
         </div>
      </div>
   </div>



</div>
<!-- <div class="row">
   <div class="col-md-4">
     <div class="box-testimony">
       <blockquote>
         <span class="quote"><span><i class="icon-quote-left"></i></span></span>
         <p>&ldquo;Incredibly easy to use!&rdquo;</p>
       </blockquote>
       <p class="author"> Farhan Akhtar, Actor </p> 
     </div>
   </div>
   <div class="col-md-4">
     <div class="box-testimony">
       <blockquote>
         <span class="quote"><span><i class="icon-quote-left"></i></span></span>
         <p>&ldquo;I've been using this app for almost a year now and I think it is an amazingly simple way to give back.&rdquo;</p>
       </blockquote>
       <p class="author">Ankita Jhaveri, Ultra Marathoner </p>
     </div>
   </div>
   <div class="col-md-4">
     <div class="box-testimony">
       <blockquote>
         <span class="quote"><span><i class="icon-quote-left"></i></span></span>
         <p>&ldquo;An innovative solution to connect corporates, Indian youth and the social sector. It's been a great experience partnering with ImpactRun.&rdquo;</p>
       </blockquote>
       <p class="author">Suhani Mohan, CEO Saral Designs</p>
     </div>
     
   </div>
   </div> -->

 
</section>
<section class="base" id="four">
  <section id="fh5co-contact" data-section="contact">
   <div class="container">
   <div class="row">
      <div class="col-md-12 section-heading text-center">
         <h2>Feedback</h2>
         <div class="row">
            <div class="col-md-8 col-md-offset-2 subtext ">
               <h3>Let us know what you think. Your ideas help us grow faster!</h3>
            </div>
         </div>
      </div>
   </div>
   
    <!--Add your own HTML!-->
  <div class="contactform">

    <div class="modal">
      <p>Thanks for talking to us, <span>generic user</span>. We'll get back with you as soon as we can.
      </p>
    </div>
    <form name="user" class="contact">

      <h1>Talk to us</h1>

      <div class="nombre">
        <input type="text" name="name" class="input" value="Name">
      </div>
      <!--.nombre-->

      <div class="correo">
        <input type="text" name="email" class="input" value="Email">
      </div>
      <!--.correo-->

      <div class="palabras">
        <textarea id="textarea" name="comments" class="input">Comments</textarea>
      </div>
      <!--.palabras-->

      <input type="submit" value="submit" class="submit">
    </form>
  </div>
</section>

   <div class="container">
      <div class="row row-bottom-padded-sm">
         <div class="col-md-12">
            <p class="copyright text-center">&copy; Green Freedom Pvt Ltd - 2016. All Rights Reserved. <br>Happy running!</p>
         </div>
      </div>
   
   </div>

<div class="col-xs-show col-sm-show menu-mobile">
   <div id="wrapper-menu-mobile">
      <div class="wrapper">
         <ul>
            <li class="first"><span></span><button id="bt-fechar-menu"><a class="arrow"></a></button></li>
            <!-- heirarchy: #cuboid > form > div*4(cuboid faces) -->
            <li><a href="#/home">Home<i class="fa fa-angle-right"></i></a></li>
            <li><a href="#/blog">Blog<i class="fa fa-angle-right"></i></a></li>
            <li><a href="#/aboutus">Aboutus<i class="fa fa-angle-right"></i></a></li>
            <li><a href="#">Settings<i class="fa fa-angle-right"></i></a></li>
         </ul>
      </div>
      <div class="block-menu-mobile"></div>
   </div>
</div>
</section>
